<header id="header" role="banner">
    <div class="logo">{{title}}</div>
    <p class="greeting visible-md visible-lg"><b>관리자</b>님 안녕하세요</p>
    <div class="container visible-xs visible-sm">
        <div class="row">
            <div class="col-xs-3">
                <button type='button' id="side-toggle" class="btn btn-link"><span class="glyphicon glyphicon-align-justify"></span></button>
            </div>
            <!-- <div class="col-xs-3 col-xs-offset-6 text-right"><button type='button' class="btn btn-default mt5"><span class="glyphicon glyphicon-list"></span></button></div> -->
        </div>
    </div>
    <div class="logoout hidden-xs"><a href="" class="btn btn-default"><span class="glyphicon glyphicon-off"></span> 로그아웃</a></div>
</header>
