/* You can add global styles to this file, and also import other style files */
/* overide */
body {background: #f2f2f2;padding-top: 50px;color:#666;}
h1,h2,h3,h4,h5 {font-size: 100%;font-weight: bold;margin-top:0;}
.form-control {box-shadow: none;}
.alert {margin-bottom: 10px;}
input[type='text'],input[type='password'], textarea {-webkit-appearance:none !important;}
.container {width: 100%;}
ul,ol,li {list-style: none;margin:0;padding:0;}
a {color:#666;text-decoration: none;}
a:hover {color:#333;text-decoration: none;}
th, .control-label {font-weight: normal;color:#d1254e;}
.table {margin-bottom: 0;background: #fff;}
.table>thead>tr>th {border-width: 1px;}
.table-responsive {background: #fff !important;}
.table.table-bordered thead th {background: #f1f1f1;}
.row {margin-bottom: 10px !important;}
.row.mb0 {margin-bottom: 0 !important;}

/* margin */
.mt0 {margin-top:0 !important;}
.mt5 {margin-top:5px !important;}
.mt10 {margin-top:10px !important;}
.mt15 {margin-top:15px !important;}
.mt20 {margin-top:20px !important;}
.mt30 {margin-top:30px !important;}
.mt40 {margin-top:40px !important;}
.mt60 {margin-top:60px !important;}
.mt80 {margin-top:80px !important;}
.ml5 {margin-left:5px !important;}
.ml10 {margin-left:10px !important;}
.ml16 {margin-left:16px !important;}
.ml20 {margin-left:20px !important;}
.ml25 {margin-left:25px !important;}
.mb0 {margin-bottom:0 !important;}
.mb5 {margin-bottom:5px !important;}
.mb10 {margin-bottom:10px !important;}
.mb20 {margin-bottom:20px !important;}
.mb30 {margin-bottom:30px !important;}
.mb40 {margin-bottom:40px !important;}
.mb60 {margin-bottom:60px !important;}

/* padding */
.pl0 {padding-left:0 !important;}
.pr0 {padding-right:0 !important;}
.pb0 {padding-bottom:0 !important;}

/* font */
.font-11{font-size:11px !important}
.font-12{font-size:12px !important}
.font-13{font-size:13px !important}
.font-14{font-size:14px !important}
.fon-15{font-size:15px !important}
.fon-16{font-size:16px !important}
.font-normal {font-weight: normal !important}
.font-bold {font-weight: bold !important}
.font-ellipsis {display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}

#header {position:fixed;left:0;top:0;right:0;height:50px;background: #fff;z-index: 1000;border-bottom: 1px solid #dedede;}
#contents {position:relative;}
#main {position: relative;padding-bottom: 30px;}

/* header */
.logo {position: absolute;width:100%;left:0;top:12px;text-align: center;font-size: 130%;font-weight: 800;color:#333;}
#side-toggle {margin-left:-15px;width:60px;height:49px;}
#side-toggle.on {height:50px;}
button#side-toggle.btn-link {color:#ff4e50 !important;}

/* nav */
#nav {
    position:fixed;top:50px;left:0;bottom:0;width:170px;background: #2d2f3e;z-index: 10;
    overflow: auto;overflow-x:hidden;-webkit-overflow-scrolling: touch;
    transform:translate(-170px,0);
    -webkit-transform:translate(-170px,0);

    transition:transform 0.4s ease;
    -webkit-transition:-webkit-transform 0.4s ease;

}
#contents.on {position:relative;overflow-x:hidden;}
#contents.on #nav {
    transform:translate(0,0);
    -webkit-transform:translate(0,0);
}

/* depth1 */
.menu {position: relative;}
.menu > li {border-bottom: 1px solid #313446;}
.menu > li > a {position:relative;display:block;padding:12px;color:#839096;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.menu > li.active > a {background: #262837;color:#ff4e50;}

/* depth 2*/
.sub-menu {
    display:none;overflow:hidden;background: #33364a;
}
.menu > li.active .sub-menu {display:block;}

.sub-menu > li {border-bottom: 1px solid #313446;}
.sub-menu > li:last-child {border-bottom: 0;}
.sub-menu > li > a {display:block;padding:12px 12px 12px 20px;color:#839096;background: #33364a;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.sub-menu > li.active > a {background: #33364a;color:#fff;}

/* main */
#main {
    transform:translate(0,0);
    -webkit-transform:translate(0,0);

    transition:transform 0.4s ease;
    -webkit-transition:-webkit-transform 0.4s ease;
}

#contents.on #main {
    transform:translate(170px,0);
    -webkit-transform:translate(170px,0);
}
#main-cover {display:none;position:fixed;top:0;left:0;height:100%;right:0;z-index: 9;background: #000;opacity: .7;}

/* title */
.title {padding:10px 0;margin-bottom:20px;font-size:120%;font-weight: bold;color:#333;border-bottom:1px solid #ccc;}
.sub-title {position:relative;margin:20px 0;font-size: 100%;color:#333;padding-left: 10px;}
.sub-title:after {content:"";display:block;width:3px;height:100%;position: absolute;top:0;left:0;background: #c12a32;border-radius: 3px;-webkit-border-radius:3px;}

/* tab */
.tab {overflow:hidden;border-top:1px solid #555874;margin-bottom: 15px}
.tab li {background: #fcfcfc;padding:0;border:1px solid #ccc;margin:-1px -1px 0 0;}

.tab li a {display:block;height:35px;line-height: 35px;color:#999;text-align: center;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.tab li.active a {background: #555874;color:#fff;}

/* pagnig */
.paging {margin:15px 0;text-align: center;}
.paging .active a {background: #ff4e50;border:1px solid #ff4e50;}
.paging li a {color:#333;}

/* view */
.view {margin:15px 0;}
.view-header{padding:11px;border-top:1px solid #dedede;border-bottom:1px solid #f1f1f1;background:#fff;}
.view-name{font-size:1.4em;font-weight:bold;color:#333}
.view-info{margin-top:10px;font-size:11px;color:#888}
.view-content{min-height:300px;padding:20px 11px;border-bottom:1px solid #e4e5e7;background:#fff;line-height:1.6em}
.view-content img {max-width: 100% !important;height:auto;}

.comment {margin-top: 15px;}
.comment li {position:relative;padding:10px 15px;margin-bottom:15px;min-height:50px;border:1px solid #dedede;background: #fff;}
.comment li.comment-input {padding:10px;}
.comment-info {padding-bottom:10px;border-bottom:1px solid #f1f1f1;font-size:85%;color:#666}
.comment-article {padding-top: 15px;line-height: 1.6;}
.comment-btns {position: absolute;top:7px;right:15px;}
.comment li .btn-comment {position:absolute;top:10px;right:10px;width:90px;height:77px;line-height: 77px;text-align: center;background: #999;color:#fff;}
.comment li .area-comment {width:100%;height:70px;overflow: auto;overflow-x:hidden;}

.btn-reply {margin-top: 10px;}
.textarea-reply {height:80px !important;}

.table.table-view {}
.table.table-view th {border:0 !important;}
.table.table-view>tbody>tr:first-child>td {border-top:0;}

/* form */
.white-box {background: #fff;padding:10px;}
.white-box .row:last-child {margin-bottom: 0 !important;}


@media (min-width: 768px) {
    .admin-login {width:320px;margin:10% auto;background: #fff;padding:20px 10px;border-radius: 10px;-webkit-border-radius:10px;border:1px solid #dedede;}
    .admin-login .view-name {font-size: 100%;}

    .btn-reply {margin:0;height:80px;margin-left: -15px;}
    .logoout {position: absolute;top:6px;right:15px;}

}

@media (min-width: 992px) {
    body {font-size: 12px;}
    .logo {display:inline;position:static;top:0;float:left;width:170px;height:50px;line-height:50px;text-align: center;font-size: 120%;font-weight: 800;color:#fff;background: #ff4e50;}
    .greeting {float:left;margin: 15px 0 0 20px;}

    #header {border-bottom: 0}
    #nav {
        transition:none;
        -webkit-transition:none;
        transform:none;
        -webkit-transform:none;

    }
    #contents {padding:10px 0 0 180px;}

    .tab {overflow:hidden;border:1px solid #ccc;background: #fcfcfc;border-top-color: #555874;}
    .tab li {position:relative;float:left;width:auto;border:0;margin:0;}
    .tab li a {display:block;padding:0 20px;height:35px;line-height: 35px;color:#999;border-right:1px solid #dedede;}
    .tab li.active a {background: #555874;color:#fff;}

    .title {display:inline-block;*display:inline;padding-bottom: 15px;margin-bottom:30px;border-bottom: 2px solid #333;font-size: 1.2em;font-weight: bold;color:#333;}

    /* depth1 */
    .menu {margin:0 15px;position: relative;}
    .menu > li {padding:5px 0;border-bottom: 1px solid #555874;}
    .menu > li > a {position:relative;display:block;padding:12px;color:#ff4e50;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font-weight: bold;}
    .menu > li.active > a {background: none;color:#ff4e50;}

    /* depth 2*/
    .sub-menu {
        display:block;overflow:hidden;background: none;
    }
    .menu > li.active .sub-menu {display:block;}

    .sub-menu > li {border-bottom: 0}
    .sub-menu > li:last-child {border-bottom: 0;}
    .sub-menu > li > a {display:block;padding:5px 12px 5px 20px;color:#839096;background: none;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
    .sub-menu > li > a:hover {text-decoration: underline;}
    .sub-menu > li.active > a {background: none;color:#fff;}

    .comment-info {font-size: 100%;}
}
